<%= link_to "イベント追加" ,new_calender_path %>

<%= month_calendar calenders: @calenders do |date, calenders| %>
  <%= date.day %>

  <% calenders.each do |calender| %>
    <div>
      <%= calender.title %>
    </div>
  <% end %>
<% end %>
