<div class ="calender_show">
  <div class = "title">
    <%= @calender.title %>
  </div>
  <div>
    <%= @calender.content %>
  </div>
  <div>
    <%= @calender.start_time %>
    <h5>edit</h5>
  </div>
</div>