<div class = "row">
  <div class = "container col-2">
    <div><%= link_to "登録",new_food_path %></div>
  </div>


  <div class = "calender-layout container col-10">
      <%= month_calendar events: @foods do |date, foods| %>
      <%= date.day %>

      <div class = "food-title">
        <% foods.each do |f| %>
          <%=link_to f.food ,food_path(f)%>
      </div>
        <% end %>
      <% end %>

  </div>

</div>