<div class ="calorie_show">
  
  <div>
    <%= @food.start_time %>
  </div>
  <div>
    <%= @food.food %>
  </div>
  <div>
    <%= @food.calorie %>
  </div>
  <div>
    <%= @food.eat_timing %>
  </div>
</div>